@font-face
{
	font-family: DejaVuSerifCondensed-Bold;
	src: url(./DejaVuSerifCondensed-Bold.ttf);
}

*
{
	margin: 0;
}

html
{
	background-color: #333333;
	color: #ffffff;
	font-family: DejaVuSerifCondensed-Bold, Serif;
}

hr
{
	border-color: #ffffff;
}

header
{
	padding: 10vw;
}

main
{
	padding: 5vw;
}

footer
{
	font-size: small;
	color: #ffffaa;
}

img
{
	max-width: 5vw;
	max-height: 5vw;
}

a
{
	color: #ffaaaa;
}

a:hover
{
	color: #ffcccc;
}

a:visited
{
	color: #ffccaa;
}