@font-face
{
	font-family: DejaVuSerifCondensed-Bold;
	src: url(./DejaVuSerifCondensed-Bold.ttf);
}

*
{
	margin: 0;
}

html
{
	background-color: #333333;
	color: #ffffff;
	font-family: DejaVuSerifCondensed-Bold, Serif;
}

hr
{
	border-color: #ffffff;
}

header
{
	padding: 10vh 10vw;
}

header.red
{
	background: linear-gradient(#333333, #993333, #333333);
}

header.purple
{
	background: linear-gradient(#333333, #663399, #333333);
}

main
{
	padding: 5vh 5vw;
}

footer
{
	font-size: small;
	color: #ffffaa;
}

img
{
	max-width: 5vw;
	max-height: 5vw;
}

a
{
	padding-left: 0.5em;
	padding-right: 0.5em;
	color: #ffaaaa;
}

a:hover
{
	color: #ffcccc;
}

a:visited
{
	color: #ffccaa;
}

nav.top
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
}

nav.top a
{
	padding: 0.5em;
	
	text-decoration: none;
	color: #ffffff;
}

nav.top a:hover
{
    background-color: #ffffff;
	
	color: #000000;
}

audio
{
	padding: 0.5em;
}

section.block
{
	border: #cccccc 4px dashed;
	padding: 1em;
}

aside.right
{
	float: right;
}

aside.huge
{
	font-size: 3em;
}